.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pop-wrap {
  position: relative;
  top: 0;
  left: 0;
}



@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 660px) {

  .calendar .date-create {
    display: none;
    margin-bottom: 7px;
  }

  
}
@media screen and (max-width: 495px) {
 
  .header__btn-main-new {
    z-index: 3;
    position: fixed;
    left: 16px;
    bottom: 30px;
    top: auto;
    width: calc(100vw - 32px);
    height: 40px;
    border-radius: 4px;
    margin-right: 0;
  }
  
  .pop-browse__calendar {
    width: 100%;
  }
  
}
@media only screen and (max-width: 375px) {
 
}


